<h4>Add new user</h4>
<form (ngSubmit)="addUser()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      id="name"
      class="form-control"
      #nameInput
    />
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1">Email address</label>
  <input type="email"
         class="form-control"
         id="exampleInputEmail1"
         #emailInput
        />
  </div>
  <div class="form-group">
    <label>Active:
      <input type="checkbox" [(ngModel)]="status"
             name="active"
             ng-true-value="Yes"
             ng-false-value="No"/>
    </label><br/>
  </div>
  <div class="form-group">
    <label>Role:
      <select name="singleSelect" class="form-control" [(ngModel)]="role">
        <option value="user">User</option>
        <option value="editor">Editor</option>
        <option value="admin">Admin</option>
      </select><br>
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Add user</button>
</form>

