<div class="card mb-2" (click)="onClick()" [ngClass]= {isActive}>
  <div class="row no-gutters">
    <div class="col-sm-12">
      <div class="card-body">
        <h5 class="card-title">{{group.name }}</h5>
      </div>
    </div>
  </div>
</div>
