<header>
  <app-toolbar></app-toolbar>
</header>
<main class="container-fluid">
  <div class="row mt-3">
    <div class="col-4">
      <app-new-user></app-new-user>
      <br/>
      <app-new-group></app-new-group>
    </div>
    <div class="col-4">
      <app-users></app-users>
    </div>
    <div class="col-4">
      <app-groups></app-groups>
    </div>
  </div>
  <p></p>
</main>
