<h4>Create group</h4>
<form (ngSubmit)="addGroup()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      id="name"
      class="form-control"
      #nameInput
    />
  </div>
  <button type="submit" class="btn btn-primary">Create group</button>
</form>


